<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Company_reg</display-name>
    <servlet-name>Company_reg</servlet-name>
    <servlet-class>appServer.Company_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company_reg</servlet-name>
    <url-pattern>/Company_reg</url-pattern>
  </servlet-mapping>
  <display-name>api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Prodact_reg</display-name>
    <servlet-name>Prodact_reg</servlet-name>
    <servlet-class>appServer.Prodact_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prodact_reg</servlet-name>
    <url-pattern>/Prodact_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IotUser</display-name>
    <servlet-name>IotUser</servlet-name>
    <servlet-class>appServer.IotUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IotUser</servlet-name>
    <url-pattern>/IotUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GateWay</display-name>
    <servlet-name>GateWay</servlet-name>
    <servlet-class>appServer.GateWay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GateWay</servlet-name>
    <url-pattern>/GateWay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IOT_reg</display-name>
    <servlet-name>IOT_reg</servlet-name>
    <servlet-class>appServer.IOT_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IOT_reg</servlet-name>
    <url-pattern>/IOT_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prodact</display-name>
    <servlet-name>Prodact</servlet-name>
    <servlet-class>appServer.Prodact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prodact</servlet-name>
    <url-pattern>/Prodact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Company</display-name>
    <servlet-name>Company</servlet-name>
    <servlet-class>appServer.Company</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Company</servlet-name>
    <url-pattern>/Company</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>appServer.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Iot</display-name>
    <servlet-name>Iot</servlet-name>
    <servlet-class>appServer.Iot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Iot</servlet-name>
    <url-pattern>/Iot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IOT</display-name>
    <servlet-name>IOT</servlet-name>
    <servlet-class>appServer.IOT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IOT</servlet-name>
    <url-pattern>/IOT</url-pattern>
  </servlet-mapping>
</web-app>